*{
    margin: 0px;
    padding: 0px;
    text-align: center; 
    font-family: sans-serif;
    
}

#logo{
    position: relative;
    width: 114px;
    left: -180px;
    top: 100px;
}

#geral{
background-color: #F8F8F8;
width: 500px;
height: 640px;
margin: 0 auto;
box-shadow: 2px 2px 2px #F3F3F3;
font-family: sans-serif;
}

input{
	width: 200px;
	height: 30px;
	border-width: 1px;
	border-color: silver;
    border-radius: 5px;


}

label{
	margin-left: -150px;
    justify-content: center;
    

}

.campo {
    display: inline-block;
    padding: 5px;
}

#titulo{
    padding-top: 40px;
}

.campo label{
    padding: 0px;
}


  .campo2 input{
  width: 420px;
  margin-left:0px;
  }
    

    
.campo2 label{
 margin-left: -370px;
 padding-bottom: 10px;

    }
    
.botao {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 30px;

}

#sobre{
    margin-left: -120px;
    padding-bottom: 20px;
}
#redes{
	padding: 15px;
}

button:hover{
    background: r#E4E6E8
}